<%- include('../partials/header') %> 

<br>

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 id="review-banner">Add A Book To The Bookshelf</h1>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container">
    <br>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <form action="/books" method="POST">
                <div class="mb-3 row">
                    <label class="form-label col-sm-3">Title:</label>
                    <input type="text" class="form-control col-sm-5" name="title">
                </div>
                <div class="mb-3 row">
                    <label class="form-label col-sm-3">Author:</label>
                    <input type="text" class="form-control col-sm-5" name="author">
                </div>
                <div class="mb-3 row">
                    <label class="form-label col-sm-3">Release Year:</label>
                    <input type="text" class="form-control col-sm-3" name="releaseYear">
                </div>
                <div class="mb-3 row">
                    <label class="form-label col-sm-3">Page Count:</label>
                    <input type="text" class="form-control col-sm-3" name="pageCount">
                </div>
                <div class="mb-3 row">
                    <label class="form-label col-sm-3">Genre:</label>
                    <select class="form-select col-sm-3" name="genre">
                        <option value="Contemporary">Contemporary</option>
                        <option value="Fantasy">Fantasy</option>
                        <option value="Historical Fiction">Historical Fiction</option>
                        <option value="Mystery/Thriller">Mystery/Thriller</option>
                        <option value="Romance">Romance</option>
                        <option value="Science Fiction">Science Fiction</option>
                        <option value="Young Adult">Young Adult</option>
                        <option value="Classic">Classic</option>
                        <option value="Nonfiction">Nonfiction</option>
                    </select>
                </div>
                <div class="mb-3 row">
                    <label class="form-label col-sm-3">Cover Image URL:</label>
                    <input type="text" class="form-control col-sm-5" name="imageUrl">
                </div>
                <div class="mb-3 row">
                    <label class="form-label col-sm-3">Description:</label>
                    <textarea class="form-control col-sm-5" name="description" id="form-text" rows="3"></textarea>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6">
                        <button type="submit">Add Book to Bookshelf</button>
                    </div>
                    <div class="col-sm-3"></div>
                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>


<%- include('../partials/footer') %> 