<%- include('../partials/header') %> 

<br>

<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 id="review-banner">Add A Book To The Bookshelf</h1>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container">
    <form action="/books" method="POST">
        <label>Title:</label>
        <input type="text" name="title">
        <br>
        <label>Author:</label>
        <input type="text" name="author">
        <br>
        <label>Description:</label>
        <input type="text" name="description">
        <br>
        <label>Release Year:</label>
        <input type="text" name="releaseYear">
        <br>
        <label>Page Count</label>
        <input type="text" name="pageCount">
        <br>
        <label>Cover Image URL:</label>
        <input type="text" name="imageUrl">
        <br>
        <label>Genre:</label>
        <select name="genre">
            <option value="Contemporary">Contemporary</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Historical Fiction">Historical Fiction</option>
            <option value="Mystery/Thriller">Mystery/Thriller</option>
            <option value="Romance">Romance</option>
            <option value="Science Fiction">Science Fiction</option>
            <option value="Young Adult">Young Adult</option>
            <option value="Classic">Classic</option>
            <option value="Nonfiction">Nonfiction</option>
        </select>
        <br>
        <input type="submit" value="Add Book to Bookshelf">
    </form>
</div>

<%- include('../partials/footer') %> 