<%- include('partials/header') %>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://i.imgur.com/PQReS8w.png" class="d-block mx-lg-auto img-fluid" alt="Prose Tinted Glasses Logo" width="600" height="600" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to the Prose Tinted Glasses Bookshelf!</h1>
            <p class="lead">Explore books talked about on the Prose Tinted Glasses podcast, add books to the database, and curate your own bookshelf to keep track of books you've read and books you're going to read!</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">View All Books</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Log In</button>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
