.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

nav {
  background-color: #222D44;
}

.banner {
  background-color: #F7ACAE;
}

.banner > h1 {
  text-align: center
}

.row {
  align-items:center;
}

body {
  background-color: #FFF4F0;
}

.review-card {
  border-radius: 5px;
  background-color: #fff;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px
}

.rating-box {
  width: 130px;
  height: 130px;
  margin-right: auto;
  margin-left: auto;
  background-color: #FBC02D;
  color: #fff
}

.rating-label {
  font-weight: bold
}

.rating-bar {
  width: 300px;
  padding: 8px;
  border-radius: 5px
}

.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 5px
}

.bar-5 {
  width: 70%;
  height: 13px;
  background-color: #FBC02D;
  border-radius: 20px
}

.bar-4 {
  width: 30%;
  height: 13px;
  background-color: #FBC02D;
  border-radius: 20px
}

.bar-3 {
  width: 20%;
  height: 13px;
  background-color: #FBC02D;
  border-radius: 20px
}

.bar-2 {
  width: 10%;
  height: 13px;
  background-color: #FBC02D;
  border-radius: 20px
}

.bar-1 {
  width: 0%;
  height: 13px;
  background-color: #FBC02D;
  border-radius: 20px
}

td {
  padding-bottom: 10px
}

.star-active {
  color: #FBC02D;
  margin-top: 10px;
  margin-bottom: 10px
}

.star-active:hover {
  color: #F9A825;
  cursor: pointer
}

.star-inactive {
  color: #CFD8DC;
  margin-top: 10px;
  margin-bottom: 10px
}

.content {
  font-size: 18px;
  align-content: center
}

.profile-pic {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}

.vote {
  cursor: pointer
}

ul {
  list-style-type: none
}

#review-banner {
  text-align: center;
}

.review-user {
  text-align: center;
}

.leave-review-card {
  text-align: center;
}

textarea {
  padding: 7px;
  margin: 5px 20px;
  width: 100%
}

#submit-review {
  padding: 5px;
  margin: 10px 0;
  text-align: center;
}

#leave-review-text {
  text-align: center;
  margin: 10px;
}

#submit-review-col {
  text-align: center;
  align-items: center;
}

.login-link {
  background-color:#F7ACAE;
  color:#222D44;
  padding: 10px 20px;
  text-align: center;
}

.card-body {
  height: 150px;
}