.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

nav{
  background-color: #222D44;
}

.banner{
  background-color: #F7ACAE;
}
.row{
  align-items:center;
}

body {
  background-color: #FFF4F0;
}