.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

.card-title {
  margin: 10px 10px 20px 15px;
  align-items: center;
}

nav {
  background-color: #222D44;
}

.banner {
  background-color: #F7ACAE;
}

.banner > h1 {
  text-align: center
}

.row {
  align-items:center;
}

body {
  background-color: #FFF4F0;
}

.review-card {
  border-radius: 5px;
  background-color: #fff;
  padding-left: 60px;
  padding-right: 60px;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px
}

td {
  padding-bottom: 10px
}

.content {
  font-size: 18px;
  align-content: center
}

.profile-pic {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}

ul {
  list-style-type: none
}

#review-banner {
  text-align: center;
}

.review-user {
  text-align: center;
}

.leave-review-card {
  text-align: center;
}

textarea {
  padding: 7px;
  margin: 5px 20px;
  width: 100%
}

#leave-review-text {
  text-align: center;
  margin: 10px;
}

#submit-review-col {
  text-align: center;
  align-items: center;
}

.login-link {
  background-color:#F7ACAE;
  color:#222D44;
  padding: 10px 20px;
  text-align: center;
}

.index-card {
  height: 150px;
}

.home-page-login {
  display: block;
  width: 115px;
  height: 50px;
  background: #F7ACAE;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  margin: 5px
}

.home-page-all {
  display: block;
  width: 200px;
  height: 50px;
  background: #222D44;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  margin: 5px
}

.home-page-login:hover {
  background: #e9c7c8;
  color: white;
  text-decoration: none;
}

.home-page-all:hover {
  background: #3c4f78;
  color: white;
  text-decoration: none;
}

#form-text {
  padding: 0;
  margin: 0;
}

select {
  height: 40px;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

button {
  display: block;
  width: 200px;
  height: 50px;
  background: #222D44;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  margin: 5px
}

button:hover {
  background: #3c4f78;
  color: white;
  text-decoration: none;
}

#delete-review {
  width: 50px
}

#remove-book {
  height: 75px;
}

#submit-review {
  display: inline-block;
  width: 200px;
  height: 50px;
  background: #222D44;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  margin: 5px 0 15px 0;
}

.details {
  display: inline-block;
  width: 80px;
  height: 30px;
  background: #222D44;
  text-align: center;
  border-radius: 5px;
  color: white;
  padding: 3px;
}

.details:hover {
  background: #3c4f78;
  color: white;
  text-decoration: none;
}

.no-reviews {
  text-align: center;
}